.main {
    position: absolute;
    left: 20%;
    top: 15%;
    padding: 20px 0px;
    width: 1200px;
    background-color: white;
    padding-bottom: 10%;
    

    .title {
        font-size: 1.5em;
        font-weight: bold;
    }

    .main_child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 25%;
        width: 100%;
    }

    .modal_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;

        .cancel_btn {
            cursor: pointer;
            font-size: 30px;
        }
    }

}